<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>

    <main>
        <section>

            <!-- Modal -->
            <div class="col-md-12">

                <section class="erection-main" id="lthltarget" tabindex="-1" role="dialog" aria-labelledby="lthltarget" aria-hidden="true">
                    <div class="row">
                        <div class="fixed-heading d-flex w-100">

                            <a onclick="window.history.go(); return false;" style="cursor: pointer;"><img src="../../assets/icons-LTHL/left-arrow.png" alt="left arrow"></a>


                            <div class="col-md-5">
                                <h4 class="erection-heading2 ml-3">ADD SCAFFOLD REQUEST/ORDER</h4>
                            </div>
                            <div class="col-md-3">
                                <div class="text-right">
                                    <button class="add-btn-secondary" data-toggle="" data-target=""><span><img class="plus-icon"  src="../../assets/icons-LTHL/plus.png" alt="plus img"></span>Add Scaffolding Type</button>
                                    <button class="add-btn-tertiary ml-2" data-toggle="" data-target=""><span><img class="plus-icon"  src="../../assets/icons-LTHL/cross-fold.png" alt="plus img"></span>Cancel Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 pr-2">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Project Code<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                        <div class="col-md-3">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Free of Charge Days<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3 pr-2">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Request By<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                        <div class="col-md-3 pr-2">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Request Date<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                        <div class="col-md-3">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Point of Contact<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3 pr-2">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Required Date<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                        <div class="col-md-3 pr-2">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Area<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                        <div class="col-md-3">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Location<span class="steric">*</span></label>
                            <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                        </div>
                    </div>
                    <div class="row mb-4 mt-2">
                        <div class="col-md-9">
                            <label class="erection-secondary erec-label-style" style="color: #616161;">Description<span class="steric">*</span></label>
                            <textarea rows="5" class="form-control erec-label-style mb-4">

                       </textarea>
                        </div>
                    </div>
                    <section class="mb-4">
                        <!-- general info -->
                        <div class="bg-linear flexbox">
                            <div>
                                <h4 class="general-code m-0">general code</h4>
                            </div>
                            <div class="up-arrow mr-3">
                                <img src="../../assets/icons-LTHL/up-arrow.png">
                            </div>
                        </div>
                        <div class="erection-body-1" style="border: 1px solid #ccc;">
                            <div class="row">
                                <div class="col-md-1"><label class="erection-primary erec-label-style">Project Name:</label></div>
                                <div class="col-md-3"><label class="erection-secondary erec-label-style">Din Daeng</label></div>

                            </div>

                            <div class="row">
                                <div class="col-md-1"><label class="erection-primary erec-label-style">Request No:</label></div>
                                <div class="col-md-3"><label class="erection-secondary erec-label-style">Lthl-TBCA-0001</label></div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"><label class="erection-primary erec-label-style">Site Mgr.:</label></div>
                                <div class="col-md-3"><label class="erection-secondary erec-label-style">Sukanya Wattawasin</label></div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"><label class="erection-primary erec-label-style">Company Code:</label></div>
                                <div class="col-md-3"><label class="erection-secondary erec-label-style">TBCA</label></div>
                            </div>
                        </div>
                        <!-- estimated section -->
                        <div class="row  mt-3">
                            <h4 class="erec-label-head border-bottom-red"> estimated</h4>
                        </div>
                        <div class="row mb-3 mt-2">
                            <div class="col-md-3 pr-2">
                                <label class="erection-secondary erec-label-style" style="color: #616161;">Scaffolding Type<span class="steric">*</span></label>
                                <select name="cars" style="color: #B7B7B7;" class="form-control erec-label-style mb-4" id="Elevation-range">
                                    <option value="volvo">Select Elevation Range</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                    </select>
                            </div>
                            <div class="col-md-2 mt-4">
                                <div class="text-right">
                                    <button class="add-btn" data-toggle="" data-target=""><span><img class="plus-icon"  src="../../assets/icons-LTHL/plus.png" alt="plus img"></span>Add Scaffolding Type</button>
                                </div>
                            </div>
                        </div>
                        <section class="section-erection-2 ">

                            <!-- Scaffolding Type: -->
                            <div class="bg-linear flexbox">
                                <div>
                                    <h4 class="scaff-type erec-label-style subtile-heading m-0">Scaffolding Type: <span class="ml-2" style="color: #fff;">INDEPENDENT (6-20)</span></h4>
                                </div>
                                <div class="up-arrow mr-3">
                                    <img src="../../assets/icons-LTHL/up-arrow.png">
                                </div>
                            </div>
                            <div class="erection-body-1">
                                <div class="row mt-1">
                                    <div class="col-md-12">
                                        <table class="table lthl-table table-border">
                                            <thead class="bg-linear">
                                                <tr>
                                                    <th scope="col" style="width: 5%;text-align: center;">W</th>
                                                    <th scope="col" style="width: 5%;text-align: center;">L</th>
                                                    <th scope="col" style="width: 5%;text-align: center;">H</th>
                                                    <th scope="col" style="width: 10%;text-align: right;">BQ</th>
                                                    <th scope="col" style="width: 15%;text-align: center;">Elevation Range</th>
                                                    <th scope="col" style="width: 10%;text-align: center;">Elevation</th>
                                                    <th scope="col" style="width: 15%;text-align: center;">Free of Charge</th>
                                                    <th scope="col" style="width: 10%;text-align: center;">Unit Rate</th>
                                                    <th scope="col" style="width: 20%;text-align: center;">Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row" style="text-align: center; font-size: small;">25.13</td>
                                                    <td style="text-align: center;">25.13</td>
                                                    <td style="text-align: center;">25.13</td>
                                                    <td style="text-align: right;">25.13</td>
                                                    <td style="text-align: center;">
                                                        <select name="cars" id="amount-select">
                                  <option value="volvo">25.55 up</option>
                                  <option value="saab">Saab</option>
                                  <option value="mercedes">Mercedes</option>
                                  <option value="audi">Audi</option>
                                </select></td>
                                                    <td style="text-align: center;">Elevation</td>
                                                    <td style="text-align: right;">15</td>
                                                    <td style="text-align: center;">125.13</td>
                                                    <td style="text-align: center;">150.1300</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Options part -->
                                <div class="row mt-3 mb-3">
                                    <div class="w-100 d-flex ">
                                        <div class="col-md-1">
                                            <h4 class="erec-label-head border-bottom-red" style="display: inline-block;">Options</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="erection-body-1">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">Coefficient Rates</label>
                                        </div>
                                        <div class="col-md-2"><label class="erection-primary erec-label-style">Value</label>
                                        </div>
                                        <div class="col-md-2"><label class="erection-primary erec-label-style">Plus Rate</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark2"></span>
                                              </label>
                                                <label class="erection-primary erec-label-style ml-4" style="text-transform:capitalize;">
                                                special working condition withspecial equipment[PVC suit ,cowl, boots,gloves and mask]:
                                            </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2"><label class="erection-secondary erec-label-style">1.5</label></div>
                                        <div class="col-md-2">
                                            <label class="erection-tertiary erec-label-style">
                                                <label class="container-checkbox">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                              </label>
                                            <span class="ml-2 ml-4">Engineer Design</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">120 B/Set</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark2"></span>
                                                  </label>
                                                <label class="erection-primary erec-label-style ml-4">High corrosion</label></div>
                                        </div>
                                        <div class="col-md-2"><label class="erection-secondary erec-label-style">2</label></div>
                                        <div class="col-md-2"><label class="erection-tertiary erec-label-style">
                                                <label class="container-checkbox">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                              </label>
                                            <span class="ml-2 ml-4">Engineer Design</span></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">22.20 B/Set</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark2"></span>
                                                  </label><label class="erection-primary erec-label-style ml-4">Low corrosion</label></div>
                                        </div>
                                        <div class="col-md-2"><label class="erection-secondary erec-label-style">3</label></div>
                                        <div class="col-md-2 d-flex align align-items-center"><label class="erection-tertiary erec-label-style">
                                                <label class="container-checkbox">
                                                <input type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                              </label><span class="ml-4">Overtime Cost</span></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">120 B/Set</label></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-2 ">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark2"></span>
                                                  </label>
                                                <label class="erection-primary erec-label-style ml-4">working day overtime & saturday</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 "><label class="erection-secondary erec-label-style ">4</label></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-2 ">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark2"></span>
                                                  </label><label class="erection-primary erec-label-style text-transform:capitalize ml-4">sunday holidays</label></div>
                                        </div>
                                        <div class="col-md-3 "><label class="erection-secondary erec-label-style ">1.8</label></div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-3"><label style="color: #727272;">Amount(B):</label> 200,000.00</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Scaffolding Type:tent -->
                            <div class="bg-linear flexbox mt-3">
                                <div>
                                    <h4 class="scaff-type erec-label-style subtile-heading m-0">Scaffolding Type: <span class="ml-2" style="color: #fff;">Tent</span></h4>
                                </div>
                                <div class="up-arrow mr-3">
                                    <img src="../../assets/icons-LTHL/cross-fold.png" alt="cross fold">
                                    <img src="../../assets/icons-LTHL/up-arrow.png" class="ml-3" alt="arrow img">
                                </div>
                            </div>
                            <div class="erection-body-1">
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <table class="table lthl-table table-border">
                                            <thead class="bg-linear">
                                                <tr>
                                                    <th scope="col" style="width: 10%;">BQ</th>
                                                    <th scope="col" style="width: 20%;">Lumpsum price</th>
                                                    <th scope="col" style="width: 20%;text-align: center;">Amount(B)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">25.13</td>
                                                    <td style="">25.13</td>
                                                    <td style="text-align: center;">25.13</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label style="color: #727272;">Amount(B):</label> 200,000.00</div>
                                </div>

                            </div>
                            <!-- Scaffolding Type: -->
                            <div class="bg-linear flexbox">
                                <div>
                                    <h4 class="scaff-type erec-label-style subtile-heading m-0">Scaffolding Type: <span class="ml-2" style="color: #fff;">Mobile</span></h4>
                                </div>
                                <div class="up-arrow mr-3">
                                    <img src="../../assets/icons-LTHL/up-arrow.png">
                                </div>
                            </div>
                            <div class="erection-body-1">
                                <div class="row mt-1">
                                    <div class="col-md-12">
                                        <table class="table lthl-table table-border">
                                            <thead class="bg-linear">
                                                <tr>
                                                    <th scope="col" style="width: 5%;text-align: center;">W</th>
                                                    <th scope="col" style="width: 5%;text-align: center;">L</th>
                                                    <th scope="col" style="width: 5%;text-align: center;">H</th>
                                                    <th scope="col" style="width: 10%;text-align: right;">BQ</th>
                                                    <th scope="col" style="width: 15%;text-align: center;">Elevation Range</th>
                                                    <th scope="col" style="width: 10%;text-align: center;">Elevation</th>
                                                    <th scope="col" style="width: 15%;text-align: center;">Free of Charge</th>
                                                    <th scope="col" style="width: 10%;text-align: center;">Unit Rate</th>
                                                    <th scope="col" style="width: 20%;text-align: center;">Remark</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row" style="text-align: center; font-size: small;">25.13</td>
                                                    <td style="text-align: center;">25.13</td>
                                                    <td style="text-align: center;">25.13</td>
                                                    <td style="text-align: right;">25.13</td>
                                                    <td style="text-align: center;">
                                                        <select name="cars" id="amount-select">
                                      <option value="volvo">25.55 up</option>
                                      <option value="saab">Saab</option>
                                      <option value="mercedes">Mercedes</option>
                                      <option value="audi">Audi</option>
                                    </select></td>
                                                    <td style="text-align: center;">Elevation</td>
                                                    <td style="text-align: right;">15</td>
                                                    <td style="text-align: center;">125.13</td>
                                                    <td style="text-align: center;">150.1300</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Options part -->
                                <div class="row mt-3 mb-3">
                                    <div class="w-100 d-flex ">
                                        <div class="col-md-1">
                                            <h4 class="erec-label-head border-bottom-red" style="display: inline-block;">Options</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="erection-body-1">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">Coefficient Rates</label>
                                        </div>
                                        <div class="col-md-2"><label class="erection-primary erec-label-style">Value</label>
                                        </div>
                                        <div class="col-md-2"><label class="erection-primary erec-label-style">Plus Rate</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark2"></span>
                      </label>
                                                <label class="erection-primary erec-label-style ml-4" style="text-transform:capitalize;">
                        special working condition withspecial equipment[PVC suit ,cowl, boots,gloves and mask]:
                    </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2"><label class="erection-secondary erec-label-style">1.5</label></div>
                                        <div class="col-md-2">
                                            <label class="erection-tertiary erec-label-style">
                        <label class="container-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                                            <span class="ml-2 ml-4">Engineer Design</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">120 B/Set</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark2"></span>
                          </label>
                                                <label class="erection-primary erec-label-style ml-4">High corrosion</label></div>
                                        </div>
                                        <div class="col-md-2"><label class="erection-secondary erec-label-style">2</label></div>
                                        <div class="col-md-2"><label class="erection-tertiary erec-label-style">
                        <label class="container-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                                            <span class="ml-2 ml-4">Engineer Design</span></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">22.20 B/Set</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark2"></span>
                          </label><label class="erection-primary erec-label-style ml-4">Low corrosion</label></div>
                                        </div>
                                        <div class="col-md-2"><label class="erection-secondary erec-label-style">3</label></div>
                                        <div class="col-md-2 d-flex align align-items-center"><label class="erection-tertiary erec-label-style">
                        <label class="container-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label><span class="ml-4">Overtime Cost</span></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="erection-primary erec-label-style">120 B/Set</label></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-2 ">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark2"></span>
                          </label>
                                                <label class="erection-primary erec-label-style ml-4">working day overtime & saturday</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 "><label class="erection-secondary erec-label-style ">4</label></div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-2 ">
                                            <div class="d-flex">
                                                <label class="container-checkbox2">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark2"></span>
                          </label><label class="erection-primary erec-label-style text-transform:capitalize ml-4">sunday holidays</label></div>
                                        </div>
                                        <div class="col-md-3 "><label class="erection-secondary erec-label-style ">1.8</label></div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-3"><label style="color: #727272;">Amount(B):</label> 200,000.00</div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </section>
                    <div class="modal-footer pt-3 flexbox">
                        <div class="fixed-btn">
                            <a onclick="window.history.go(); return false;" style="cursor: pointer;"><button type="button" class="btn btn-save mr-3">Save</button></a>
                            <a onclick="window.history.go(); return false;" style="cursor: pointer;"><button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button></a>
                        </div>

                    </div>
                </section>
            </div>
        </section>
    </main>
</body>

</html>