<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar close">
        <div class="logo-details home-content">
            <i> <img src="../assets/icons-LTHL/jdls.PNG" ></i>
            <span class="logo_name" style="margin-left: 15%;font-size: small;color:  #D10000;">LOGTHAI-HAILECK ENGINEERING</span>
        </div>
        <div class="logo-details home-content">
            <a href="#"> <i class='bx bx-menu '></i> </a>
        </div>
        <ul class="nav-links">
            <div class="iocn-link" style="text-align: center;">
                <a href="#" style="margin-left: 0.7rem;">
                    <i class="dash"> <img src="../assets/icons-LTHL/dashboard.png" ></i>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <!-- <ul class="sub-menu">
                <li><a class="link_name" href="#">Dashboard</a></li>
            </ul> -->
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i style="font-size: xx-large;opacity: 0.8;" class='bx bx-cog'></i>
                        <span class="link_name">Setting</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Setting</a></li>
                    <li><a href="#">Customer Management</a></li>
                    <li><a href="#">Project Management</a></li>
                    <li><a href="#">Employee Management</a></li>
                    <li><a href="#">LTHL Leader</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="dash"> <img src="../assets/icons-LTHL/multi.png" ></i>
                        <span class="link_name">User Management</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">User Management</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Login Form</a></li>
                    <li><a href="#">Card Design</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/custd.png" ></i>
                    <span class="link_name">Customer Data</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Customer Data</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/custd.png"></i>
                    <span class="link_name">Subcontract Data</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Subcontract Data</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="dash"><img src="../assets/icons-LTHL/check.png" ></i>
                        <span class="link_name">Scaffloading Registration</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Scaffloading Registration</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/manp.png" ></i>
                    <span class="link_name">Manpower Registration</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Manpower Registration</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/prodc.png" ></i>
                    <span class="link_name">Productivity Registration</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Productivity Registration</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/sales.png" ></i>
                    <span class="link_name">Sales and Expenses</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Sales and Expenses</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/biling.png" ></i>
                    <span class="link_name">Billing</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Billing</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="dash"> <img src="../assets/icons-LTHL/logout.png" ></i>
                    <span class="link_name">LOG OUT</span>
                </a>
            </li>
            <li>
                <div class="profile-details"></div>
            </li>
        </ul>
    </div>
    <script src="../assets/js/script.js"></script>

</body>

</html>

<router-outlet>
</router-outlet>
